{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="text-center">[update]</h1>
  {% if article.image %}
    <img src="{{article.image.url}}" alt="">
  {% else %}
    <img src="{% static 'articles/images/no.png'%}" alt="">
  {% endif %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}  
    {% comment %} 토큰값을 같이 붙여서 보내줘야한다. {% endcomment %}
    <label for="title">TITLE</label>
    <input type="text" name="title" id="title" value="{{article.title}}"> <br>
    <label for="content">CONTENT</label>
    <textarea name="content" id="content" cols="30" rows="5">{{article.content}}</textarea>
    <br>
    <label for="image">IMAGE</label>
    <input type="file" name="image" id="image" accept="image/*">
    <input type="submit" value="제출">
  </form>
  <a href="{{ article.get_absolute_url }}">[back]</a>
{% endblock  %}
