<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 동균이라는 이름으로 값이오면 인사하고 아니면 누구세요라고 묻는다.  -->
    <!-- jija2의 주석은 {# #}으로 해야한다. 주석내에 {}두번들어가도 인식함 -->
    {% if html_name == '동균' %}
        <h2>{{html_name}}, 왔니?</h2>
    {% else %}
        <h2>누구세요?</h2>
    {% endif %}
    <!-- endif라고 if문을끝내줘야한다. -->

</body>
</html>