{% extends 'articles/base.html' %}
{% block content %}

<h1>detail</h1>
<p>title {{article.title}}</p>
<p>title {{article.content}}</p>
<a href="{% url 'articles:index'%}">go to home</a>
<hr>
<a href="{% url 'articles:update' article.pk %}">update this content</a> <br>
<a href="{% url 'articles:delete' article.pk %}">delete this content</a>
{%for comment in comments%}
<hr>
<form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
  {%csrf_token%}
  {{comment.content}}
  <input type="submit" value="delete">
</form>
{% endfor %}
<hr>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}

  {{ comment_form }}
  <input type="submit" value="제출">

</form>

{% endblock content %}