{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">CREATE</h1>
<a href="{% url 'article:index' %}">[Back]</a>
<hr>
<form action="" method="POST">
  {% csrf_token %}
<!-- <label for="title">title</label><br>
  <input type="text" name="title" id="title">
  <br>
  <label for="content">content</label><br>
  <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
  <input type="submit" value="제출"> -->
  {{form.as_p}}
  <input type="submit" value="제출">
</form>


{% endblock content %}