{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">DETAIL</h1>
  <a href="{% url 'article:index' %}">[back]</a>
  <hr>
  <p>NO. {{article.pk}}</p>
  <p>TITLE{{article.title}}</p>
  <p>CONTENT{{article.content}}</p>
  <p>CREATED_AT{{article.created_at}}</p>
  <p>UPDATED_AT{{article.updated_at}}</p>
  <hr><hr>
  {% for comment in comments %}
    <p>{{comment.pk}} : {{comment.content}}</p>
    <form action="{% url 'article:comment_delete' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="댓글 삭제">
    </form>
    
  {% endfor %}
  <hr>
  <form action="{% url 'article:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    <label for="comment">댓글입력</label>
    <input type="text" name="comment" id="comment">
    <input type="submit" value="댓">
  </form>
  <hr>
  <a href="{% url 'article:update' article.pk %}">[UPDATE]</a>
  <a href=" {% url 'article:delete' article.pk %} ">[DELETE]</a>

{% endblock content %}